services:
  headscale:
    image: headscale/headscale:latest
    container_name: headscale
    restart: unless-stopped
    command: serve
    ports:
      - "0.0.0.0:3478:3478/udp" # STUN/DERP
    volumes:
      - ./headscale/config/config.yaml:/etc/headscale/config.yaml:ro
      - ./headscale/data:/var/lib/headscale
    env_file: .env
    environment:
      - HEADSCALE_SERVER_URL=${SUBDOMAIN}.${DOMAIN}
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  caddy:
    image: ghcr.io/olife97/dhi-caddy-cloudflare:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:8080"
      - "443:8443"
      - "443:8443/udp" # HTTP/3 (QUIC)
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/data:/data
      - ./caddy/config:/config
      - ./caddy/logs:/var/log/caddy
    environment:
      - DOMAIN=${DOMAIN}
      - SUBDOMAIN=${SUBDOMAIN}
      - FULLDOMAIN=${SUBDOMAIN}.${DOMAIN}
      - CF_API_TOKEN=${CF_API_TOKEN}
      - CROWDSEC_BOUNCER_KEY=${CROWDSEC_BOUNCER_KEY}
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:2019/config/"]
      interval: 10s
      timeout: 5s
      retries: 3

  # --- CROWDSEC (Motore di sicurezza) ---
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    restart: unless-stopped
    volumes:
      - ./crowdsec/data:/var/lib/crowdsec/data
      - ./crowdsec/config:/etc/crowdsec
      - ./crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml:ro
      - ./caddy/logs:/var/log/caddy:ro
    environment:
      - COLLECTIONS=crowdsecurity/caddy crowdsecurity/base-http-scenarios crowdsecurity/linux
      - BOUNCER_KEY_CADDY=${CROWDSEC_BOUNCER_KEY}